@import url("https://use.typekit.net/emt1pzm.css");

* {
    font-family: 'new-kansas', sans-serif;
    color: #1b1625;
    text-align: center;
    box-sizing: border-box;
  }
h1 {
  /* padding: 2%;
  margin-right: 20%;
  margin-left: 20%; */
  
  font-family: "new-kansas", sans-serif;
  font-weight: bolder;
  font-style: normal;
    
}

#globe, #mainHeader  {
  font-weight: bold;
  }
  
#travelCarousel .carousel-item {
  height: 500px;
}


.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
  
}

h5.slideHeader {
  background-color: rgb(115, 117, 119);
  padding: 2%;
  margin-left: 41%;
  margin-right: 41%;
  border-radius: .8em;
  border: 1px solid #1b1625;
}

#littleLine {
  border-bottom: 2px solid #bebdc0;
}

#smallHeader {
  padding: 1.5em;
}

   
a:link {
text-decoration: none;
}
a:visited {
text-decoration:none;
color:#2e2c31
}
a:hover {
color:#533294;
font-weight: bold;
}
a:active {
color:#533294;
}
table {
  display: flex;
  justify-content: center;
}

th, td {
  border: 1px solid rgb(51, 50, 50);
}  